
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Books">
    <meta name="author" content="Shivangi Gupta">
    <title> Online Bookstore</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/my.css') }}" rel="stylesheet">

    <style>  
        @media only screen and (width: 768px) { body{margin-top:150px;}}
        @media only screen and (max-width: 760px) { #books .row{margin-top:10px;}}
        .tag {display:inline;float:left;padding:2px 5px;width:auto;background:#F5A623;color:#fff;height:23px;}
        .tag-side{display:inline;float:left;}
        #books {border:1px solid #DEEAEE; margin-bottom:20px;padding-top:30px;padding-bottom:20px;background:#fff; margin-left:10%;margin-right:10%;}
        #description {border:1px solid #DEEAEE; margin-bottom:20px;padding:20px 50px;background:#fff;margin-left:10%;margin-right:10%;}
        #description hr{margin:auto;}
        #service{background:#fff;padding:20px 10px;width:112%;margin-left:-6%;margin-right:-6%;}
        .glyphicon {color:#D67B22;}
    </style>

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
 
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
             
         
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div id="top" >
        <div id="searchbox" class="container-fluid" style="width:112%;margin-left:-6%;margin-right:-6%;">
            <div>
                <form role="search" action="Result.php" method="post">
                    <input type="text" name="keyword" class="form-control" placeholder="Search for a Book , Author Or Category" style="width:80%;margin:20px 10% 20px 10%;">
                </form>
            </div>
        </div>
   </div>


 
  <div class="container-fluid" id="books">
    <div class="row">
      <div class="col-sm-10 col-md-6">
                              <div class="tag-side"><img src="img/orange-flag.png">
                          </div>
                         <img class="center-block img-responsive" src="/static/img/books/{{data[2]}}.jpg" height="550px" style="padding:20px;">
      </div>
      <div class="col-sm-10 col-md-4 col-md-offset-1">
        <h2 id="book_title">{{data[0]}}</h2>
          <span style="color:#00B9F5;" id="book_type">{{data[1]}}</span>
        </h2>
        <hr>
        <span> Name </span>
        <input type="text" id="party_name">
        <br><br>
                    
        <span> Quantity : </span>
        <input type="number" id="quantity" min="1" max="50">
        <br><br>
        <span  > Price(per book) : Rs    </span>
        <span id="price" style="font-weight:bold;">{{data[3][0]}}</span>/per day
        {% if data[3][1] is not none %}
        <span  >for first 2 days(thereafter Rs <b>{{data[3][1]}})</b>/per Day</span>
        {% endif %}
        <br>
        {% if data[3][2] is not none and data[3][3] is not none %}
        <span  >Minimum charge is Rs <b>{{data[3][3]}}</b>/per Day if rented less than <b>{{data[3][2]}} days</b></span>
        {% endif %}

        <br><br>
        <span> Return Date : </span>
        <input type="date" id="return_date">
     
        <br><br><br>

        <button type="submit"  id="buyLink"  class="btn btn-lg btn-danger" style="padding:15px;color:white;text-decoration:none;"> Place Order </button>
        <br>
    </div>
  </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
<script>
          

            $("#buyLink").click(function(){
              var book_name = $("#book_title").text();
              var book_type = $("#book_type").text();
              var price = $("#price").text();
              var quantity = $("#quantity").val();
              var return_date = $("#return_date").val();
              var name = $("#party_name").val();
            
              if(!name || !quantity || !return_date){
                alert("Please fill the inputs to place order");
              }
              else{
                if(quantity==0){
                  alert("Please select a valid quantity");
                }
                else{
                  var con = confirm("Are you sure you want to place the order")
                } 
              }
              if(con==true){   
               var payload =  {
                  'book_name': book_name,
                  'book_type': book_type,
                  'price':price,
                  'quantity':quantity,
                  'return_date':return_date,
                  'party_name':name
                };
                $.ajax({
                  type: "POST",
                  contentType: "application/json; charset=utf-8",
                  url: "/placeOrder",
                  data: JSON.stringify(payload),
                  success: function(data) {
                    alert(data); 
                  },
                  dataType: "json"
                });
            }
            }); 
    </script>
</body>
</html>       
