<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Books">
    <title>Account Summary</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/my.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/invoice.css') }}" rel="stylesheet">

    <style>
   
    #books {margin-bottom:50px;}

     @media only screen and (width: 767px) { body{margin-top:150px;}}
        #books .row{margin-top:20px;margin-bottom:10px;font-weight:800;}
        @media only screen and (max-width: 760px) { #books .row{margin-top:10px;}}
    </style>

</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div id="top" >
        <div id="searchbox" class="container-fluid" style="width:112%;margin-left:-6%;margin-right:-6%;">
            <div>
                <form role="search" action="" method="post">
                    <input type="text" name="keyword" class="form-control" placeholder="Search for a Book , Author Or Category" style="width:80%;margin:20px 10% 20px 10%;">
                </form>
            </div>
        </div>

    
    <div class="filter">
        <br><br><br>
        <span style="font-weight:bold;"> Name </span>
        <input type="text" id="party_name">
        &nbsp&nbsp&nbsp&nbsp                
        <span style="font-weight:bold;"> Order Date : </span>
        <input type="date" id="ord_date">
        &nbsp&nbsp&nbsp&nbsp    
        
        <button type="submit"  id="searchInvoice"  class="btn btn-lg btn-primary" style="padding:5px;color:white;text-decoration:none;"> Submit </button>
     <br><br><br>
    </div>
     

    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0" id="invoice_table">
            <tr class="top">
                <td colspan="10">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="https://informania.files.wordpress.com/2009/12/books-and-more-bookss.jpg?w=300&h=241" style="width:100%; max-width:300px;">
                            </td>
                            
                           
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="10">
                    <table>
                        <tr>
                            <td>
                                Bookwala Inc.<br>
                                Shivaji Nagar<br>
                                Pune, India 
                            </td>
                            
                            <td>
                                Chetan Das<br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="heading">
                <td>
                    Book Name
                </td>
                
                <td>
                    Book Type
                </td>

                <td>
                    Start Date

                </td>

                <td>
                    End Date
                </td>

                <td>
                    Quantity
                </td>

                <td>
                    Price
                </td>
                
                <td>
                    Final Price
                </td>


            </tr>
        
   
            
        </table>
    </div>    
</div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script>
        
        $("#searchInvoice").click(function(){
              var order_date = $("#ord_date").val();
              var name = $("#party_name").val();
            
            if(!name || !order_date){

                alert("Please fill the inputs to print the invoice");
            }  
            else{
                var payload =  {
                'order_date':order_date,
                'party':name
                };
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: "/get_invoice",
                    data: payload,
                    success: function (data) {

                        var td_row = '';
                        var total_row='';
                        var total=0;
                        console.log(data)
                        $.each(data, function (i, item) {
                            if(item[1] == "Regular" || item[1] == "Novel"){
                            td_row  +=  '<tr class="item" >'+
                                            '<td>' + item[0] + '</td>'+
                                            '<td>' + item[1] + '</td>'+
                                            '<td>' + item[2] + '</td>'+
                                            '<td>' + item[3] + '</td>'+
                                            '<td>' + item[4] + '</td>'+
                                            '<td>' + item[5] + '(prices may vary)</td>'+
                                            '<td>' + item[6] + '</td>'+
                                            '</tr>'
                            }
                            else{
                                td_row  +=  '<tr class="item" >'+
                                            '<td>' + item[0] + '</td>'+
                                            '<td>' + item[1] + '</td>'+
                                            '<td>' + item[2] + '</td>'+
                                            '<td>' + item[3] + '</td>'+
                                            '<td>' + item[4] + '</td>'+
                                            '<td>' + item[5] + '</td>'+
                                            '<td>' + item[6] + '</td>'+
                                            '</tr>'

                            }               
                            total += item[6];  

                        });


                        total_row = '<tr class="total">'+
                                        '<td></td>'+
                                        '<td></td>'+
                                        '<td></td>'+
                                        '<td></td>'+
                                        '<td></td>'+
                                        '<td></td>'+
                                        '<td>Total: Rs'+total+'</td>'+    
                                    '</tr>'

                        $(".item").remove();
                        $(".total").remove();
                        $('#invoice_table').append(td_row);
                        $('#invoice_table').append(total_row);


                    },
                    dataType: "json"
                });
            }    
        }); 
    </script>
</body>
</html> 



  
